{
  "connections": [
    {
      "port": 3000,
      "labels": ["api"],
      "routes": {
        "cors": true
      }
    }
  ],
  "plugins": {
    "./logging": {
      "reporters": {
        "console": {
          "args": [{ "log": "*", "response": "*" }]
        }
      }
    },
    "./db": {
      "select": ["api"],
      "knex": {
        "client": "pg",
        "debug": true,
        "connection": {
          "host": "localhost",
          "user": "workshop-user",
          "password": "workshop",
          "database": "workshop"
        }
      },
      "plugins": ["registry","visibility"]
    },
    "./errors": {
        "select": ["api"]
    },
    "./documentation": {
      "select": ["api"],
      "enable": true,
      "auth": false,
      "authorizations": {
        "default": {
          "type": "apiKey",
          "passAs": "header",
          "keyname": "Authorization"
        },
        "jwt": {
          "type": "apiKey",
          "passAs": "header",
          "keyname": "Authorization"
        }
      }
    },
    "./authenticate": {
      "select": ["api"],
      "jwtKey": "somesecret"
    },
    "./publish": {
      "select": ["api"]
    },
    "./test": {
      "select": ["api"]
    },
    "./projects": {
      "select": ["api"]
    }
  }
}
