<form name="loginForm" class="col-md-6 form-signin" style="margin-top:58px" data-ng-submit="onSubmit()">
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" data-ng-model="user.email"
        name="uEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus />
    <div ng-show="loginForm.$submitted || loginForm.uEmail.$touched">
      <span ng-show="loginForm.uEmail.$error.required">Email is required to login.</span>
      <span ng-show="loginForm.uEmail.$error.email">Login unauthorized. Please check your credentials and try again.</span>
    </div>

    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
